img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 320px;
    margin: 0;
    background-color: #73e4dc;
    color: #444444;
}

.heading {
    width: min-content;
    margin: 10px auto;
    font-weight: normal;
    color: white;
}

.calc {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-gap: 5px;
    width: min-content;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid gainsboro;
    border-radius: 6px;
}

.calc__field {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 6px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.calc__button {
    background-color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    border-radius: 6px;
}

.calc__button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.calc__button:active {
    opacity: 0.6;
}

.calc__button--reset {
    background-color: #e73a2d;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    border-radius: 6px;
}

.calc__button--reset:hover {
    opacity: 0.8;
    cursor: pointer;
}

.calc__button--reset:active {
    opacity: 0.6;
}











